In [5]:
#C:\Users\user\DL C:\Users\user\DL
import numpy as np
import pandas as pd
import os
os.listdir(r"C:\Users\user\DL")
df = pd.read_csv(r"C:\Users\user\DL\house_sales.csv")
#data_path= '\Users\user\DL/house_sales.csv'
#df= pd.read_csv (data_path)
df.head()

,DocumentDate,SalePrice,PropertyID,PropertyType,ym,zhvi_px,zhvi_idx,AdjSalePrice,NbrLivingUnits,SqFtLot,...,Bathrooms,Bedrooms,BldgGrade,YrBuilt,YrRenovated,TrafficNoise,LandVal,ImpsVal,ZipCode,NewConstruction
0,2014-09-16,280000,1000102,Multiplex,2014-09-01,405100,0.930836,300805.0,2,9373,...,3.00,6,7,1991,0,0,70000,229000,98002,False
1,2006-06-16,1000000,1200013,Single Family,2006-06-01,404400,0.929228,1076162.0,1,20156,...,3.75,4,10,2005,0,0,203000,590000,98166,True
2,2007-01-29,745000,1200019,Single Family,2007-01-01,425600,0.977941,761805.0,1,26036,...,1.75,4,8,1947,0,0,183000,275000,98166,False
3,2008-02-25,425000,2800016,Single Family,2008-02-01,418400,0.961397,442065.0,1,8618,...,3.75,5,7,1966,0,0,104000,229000,98168,False
4,2013-03-29,240000,2800024,Single Family,2013-03-01,351600,0.807904,297065.0,1,8620,...,1.75,4,7,1948,0,0,104000,205000,98168,False

In [6]:
#EDA and Data preparation
df.shape

(22687, 22)

In [8]:
df.count()  # to know any data is missining?

DocumentDate       22687
SalePrice          22687
PropertyID         22687
PropertyType       22687
ym                 22687
zhvi_px            22687
zhvi_idx           22687
AdjSalePrice       22687
NbrLivingUnits     22687
SqFtLot            22687
SqFtTotLiving      22687
SqFtFinBasement    22687
Bathrooms          22687
Bedrooms           22687
BldgGrade          22687
YrBuilt            22687
YrRenovated        22687
TrafficNoise       22687
LandVal            22687
ImpsVal            22687
ZipCode            22687
NewConstruction    22687
dtype: int64

In [9]:
df.describe()

,SalePrice,PropertyID,zhvi_px,zhvi_idx,AdjSalePrice,NbrLivingUnits,SqFtLot,SqFtTotLiving,SqFtFinBasement,Bathrooms,Bedrooms,BldgGrade,YrBuilt,YrRenovated,TrafficNoise,LandVal,ImpsVal,ZipCode
count,2.268700e+04,2.268700e+04,22687.000000,22687.000000,2.268700e+04,22687.000000,2.268700e+04,22687.000000,22687.000000,22687.000000,22687.000000,22687.000000,22687.000000,22687.000000,22687.000000,2.268700e+04,2.268700e+04,22687.000000
mean,5.079244e+05,4.666164e+09,392181.923569,0.901153,5.652333e+05,1.018821,1.174633e+04,2080.165734,293.233305,2.176500,3.367744,7.680963,1971.195266,102.314762,0.205801,2.203211e+05,3.004712e+05,98078.526910
std,3.466368e+05,2.877700e+09,36349.866645,0.083525,3.854029e+05,0.159752,2.901602e+04,913.742170,439.454608,0.768027,0.904379,1.180464,30.313796,440.579006,0.554216,1.829177e+05,2.265750e+05,52.342559
min,3.000000e+03,1.000102e+06,311600.000000,0.715993,3.368000e+03,1.000000,4.940000e+02,370.000000,0.000000,0.000000,0.000000,3.000000,1900.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,98001.000000
25%,3.250000e+05,2.212325e+09,360700.000000,0.828814,3.605630e+05,1.000000,4.800000e+03,1420.000000,0.000000,1.750000,3.000000,7.000000,1950.000000,0.000000,0.000000,1.070000e+05,1.720000e+05,98034.000000
50%,4.246500e+05,4.006000e+09,403200.000000,0.926471,4.713150e+05,1.000000,7.200000e+03,1910.000000,0.000000,2.250000,3.000000,7.000000,1977.000000,0.000000,0.000000,1.820000e+05,2.460000e+05,98065.000000
75%,5.850000e+05,7.417700e+09,421200.000000,0.967831,6.494110e+05,1.000000,9.794000e+03,2540.000000,580.000000,2.500000,4.000000,8.000000,2000.000000,0.000000,0.000000,2.670000e+05,3.610000e+05,98117.000000
max,1.100000e+07,9.906000e+09,435200.000000,1.000000,1.164486e+07,5.000000,1.024068e+06,10740.000000,3500.000000,8.000000,33.000000,13.000000,2015.000000,2016.000000,3.000000,5.538000e+06,5.772000e+06,98354.000000

In [12]:
df.dtypes

DocumentDate        object
SalePrice            int64
PropertyID           int64
PropertyType        object
ym                  object
zhvi_px              int64
zhvi_idx           float64
AdjSalePrice       float64
NbrLivingUnits       int64
SqFtLot              int64
SqFtTotLiving        int64
SqFtFinBasement      int64
Bathrooms          float64
Bedrooms             int64
BldgGrade            int64
YrBuilt              int64
YrRenovated          int64
TrafficNoise         int64
LandVal              int64
ImpsVal              int64
ZipCode              int64
NewConstruction       bool
dtype: object

In [25]:
#Data Preparation 
#change object (documentdate) to interger value
#df['date']=df['DocumentDate'].str[:4] #make new column and split object (yes-month)
#df['DocumentDate']= df['DocumentDate'].astype('int')

df['DocumentDate'] = df['DocumentDate'].astype(str)
df['date'] = df['DocumentDate'].str[:4]
df['date'] = df['date'].astype('int')
df.dtypes

DocumentDate        object
SalePrice            int64
PropertyID           int64
PropertyType        object
ym                  object
zhvi_px              int64
zhvi_idx           float64
AdjSalePrice       float64
NbrLivingUnits       int64
SqFtLot              int64
SqFtTotLiving        int64
SqFtFinBasement      int64
Bathrooms          float64
Bedrooms             int64
BldgGrade            int64
YrBuilt              int64
YrRenovated          int64
TrafficNoise         int64
LandVal              int64
ImpsVal              int64
ZipCode              int64
NewConstruction       bool
date                 int64
dtype: object

In [30]:
import numpy as np
#Create a new column
df['house_age']=np.nan
df.head()

,DocumentDate,SalePrice,PropertyID,PropertyType,ym,zhvi_px,zhvi_idx,AdjSalePrice,NbrLivingUnits,SqFtLot,...,BldgGrade,YrBuilt,YrRenovated,TrafficNoise,LandVal,ImpsVal,ZipCode,NewConstruction,date,house_age
0,2014-09-16,280000,1000102,Multiplex,2014-09-01,405100,0.930836,300805.0,2,9373,...,7,1991,0,0,70000,229000,98002,False,2014,NaN
1,2006-06-16,1000000,1200013,Single Family,2006-06-01,404400,0.929228,1076162.0,1,20156,...,10,2005,0,0,203000,590000,98166,True,2006,NaN
2,2007-01-29,745000,1200019,Single Family,2007-01-01,425600,0.977941,761805.0,1,26036,...,8,1947,0,0,183000,275000,98166,False,2007,NaN
3,2008-02-25,425000,2800016,Single Family,2008-02-01,418400,0.961397,442065.0,1,8618,...,7,1966,0,0,104000,229000,98168,False,2008,NaN
4,2013-03-29,240000,2800024,Single Family,2013-03-01,351600,0.807904,297065.0,1,8620,...,7,1948,0,0,104000,205000,98168,False,2013,NaN

In [35]:
#for i,j in enumerate (df['YrRenovated']):
   # if (j==0):
       # df['house_age'][i]=df['date'][i]-df['YrBuilt'][i]
    #else:
        #df['house_age'][i]= df['date'][i]-df['YrRenovated'][i]

In [36]:
for i, j in enumerate(df['YrRenovated']):
    if j == 0:
        df.loc[i, 'house_age'] = df.loc[i, 'date'] - df.loc[i, 'YrBuilt']
    else:
        df.loc[i, 'house_age'] = df.loc[i, 'date'] - df.loc[i, 'YrRenovated']
df.head()

,DocumentDate,SalePrice,PropertyID,PropertyType,ym,zhvi_px,zhvi_idx,AdjSalePrice,NbrLivingUnits,SqFtLot,...,BldgGrade,YrBuilt,YrRenovated,TrafficNoise,LandVal,ImpsVal,ZipCode,NewConstruction,date,house_age
0,2014-09-16,280000,1000102,Multiplex,2014-09-01,405100,0.930836,300805.0,2,9373,...,7,1991,0,0,70000,229000,98002,False,2014,23.0
1,2006-06-16,1000000,1200013,Single Family,2006-06-01,404400,0.929228,1076162.0,1,20156,...,10,2005,0,0,203000,590000,98166,True,2006,1.0
2,2007-01-29,745000,1200019,Single Family,2007-01-01,425600,0.977941,761805.0,1,26036,...,8,1947,0,0,183000,275000,98166,False,2007,60.0
3,2008-02-25,425000,2800016,Single Family,2008-02-01,418400,0.961397,442065.0,1,8618,...,7,1966,0,0,104000,229000,98168,False,2008,42.0
4,2013-03-29,240000,2800024,Single Family,2013-03-01,351600,0.807904,297065.0,1,8620,...,7,1948,0,0,104000,205000,98168,False,2013,65.0

In [48]:
#now remove the date related old columns
df.drop(['PropertyID','ym','ZipCode'], axis=1, inplace= True)
df.head()

,SalePrice,PropertyType,zhvi_px,zhvi_idx,AdjSalePrice,NbrLivingUnits,SqFtLot,SqFtTotLiving,SqFtFinBasement,Bathrooms,Bedrooms,BldgGrade,TrafficNoise,LandVal,ImpsVal,NewConstruction,house_age
0,280000,Multiplex,405100,0.930836,300805.0,2,9373,2400,0,3.00,6,7,0,70000,229000,False,23.0
1,1000000,Single Family,404400,0.929228,1076162.0,1,20156,3764,1452,3.75,4,10,0,203000,590000,True,1.0
2,745000,Single Family,425600,0.977941,761805.0,1,26036,2060,900,1.75,4,8,0,183000,275000,False,60.0
3,425000,Single Family,418400,0.961397,442065.0,1,8618,3200,1640,3.75,5,7,0,104000,229000,False,42.0
4,240000,Single Family,351600,0.807904,297065.0,1,8620,1720,0,1.75,4,7,0,104000,205000,False,65.0

In [49]:
df.drop(['YrRenovated','date','DocumentDate','YrBuilt'], axis=1, inplace= True)

KeyError: "['YrRenovated', 'date', 'DocumentDate', 'YrBuilt'] not found in axis"

In [50]:
df.head()
df.count()
df.shape
df.dtypes

SalePrice            int64
PropertyType        object
zhvi_px              int64
zhvi_idx           float64
AdjSalePrice       float64
NbrLivingUnits       int64
SqFtLot              int64
SqFtTotLiving        int64
SqFtFinBasement      int64
Bathrooms          float64
Bedrooms             int64
BldgGrade            int64
TrafficNoise         int64
LandVal              int64
ImpsVal              int64
NewConstruction       bool
house_age          float64
dtype: object

In [51]:
df.head()

,SalePrice,PropertyType,zhvi_px,zhvi_idx,AdjSalePrice,NbrLivingUnits,SqFtLot,SqFtTotLiving,SqFtFinBasement,Bathrooms,Bedrooms,BldgGrade,TrafficNoise,LandVal,ImpsVal,NewConstruction,house_age
0,280000,Multiplex,405100,0.930836,300805.0,2,9373,2400,0,3.00,6,7,0,70000,229000,False,23.0
1,1000000,Single Family,404400,0.929228,1076162.0,1,20156,3764,1452,3.75,4,10,0,203000,590000,True,1.0
2,745000,Single Family,425600,0.977941,761805.0,1,26036,2060,900,1.75,4,8,0,183000,275000,False,60.0
3,425000,Single Family,418400,0.961397,442065.0,1,8618,3200,1640,3.75,5,7,0,104000,229000,False,42.0
4,240000,Single Family,351600,0.807904,297065.0,1,8620,1720,0,1.75,4,7,0,104000,205000,False,65.0

In [52]:
#Convert True/False → 1/0 (works for tree models like RandomForest, XGBoost, etc.)
df['NewConstruction']= df['NewConstruction'].astype(int)
df.head()

,SalePrice,PropertyType,zhvi_px,zhvi_idx,AdjSalePrice,NbrLivingUnits,SqFtLot,SqFtTotLiving,SqFtFinBasement,Bathrooms,Bedrooms,BldgGrade,TrafficNoise,LandVal,ImpsVal,NewConstruction,house_age
0,280000,Multiplex,405100,0.930836,300805.0,2,9373,2400,0,3.00,6,7,0,70000,229000,0,23.0
1,1000000,Single Family,404400,0.929228,1076162.0,1,20156,3764,1452,3.75,4,10,0,203000,590000,1,1.0
2,745000,Single Family,425600,0.977941,761805.0,1,26036,2060,900,1.75,4,8,0,183000,275000,0,60.0
3,425000,Single Family,418400,0.961397,442065.0,1,8618,3200,1640,3.75,5,7,0,104000,229000,0,42.0
4,240000,Single Family,351600,0.807904,297065.0,1,8620,1720,0,1.75,4,7,0,104000,205000,0,65.0

In [57]:
df.drop(['zhvi_px', 'zhvi_idx'], axis=1, inplace=True)
df.head()

,SalePrice,PropertyType,AdjSalePrice,NbrLivingUnits,SqFtLot,SqFtTotLiving,SqFtFinBasement,Bathrooms,Bedrooms,BldgGrade,TrafficNoise,LandVal,ImpsVal,NewConstruction,house_age
0,280000,Multiplex,300805.0,2,9373,2400,0,3.00,6,7,0,70000,229000,0,23.0
1,1000000,Single Family,1076162.0,1,20156,3764,1452,3.75,4,10,0,203000,590000,1,1.0
2,745000,Single Family,761805.0,1,26036,2060,900,1.75,4,8,0,183000,275000,0,60.0
3,425000,Single Family,442065.0,1,8618,3200,1640,3.75,5,7,0,104000,229000,0,42.0
4,240000,Single Family,297065.0,1,8620,1720,0,1.75,4,7,0,104000,205000,0,65.0

In [61]:
#house age negative ashle seta nibo na.
df=df[df['house_age']!=-1]
df.head()

,SalePrice,PropertyType,AdjSalePrice,NbrLivingUnits,SqFtLot,SqFtTotLiving,SqFtFinBasement,Bathrooms,Bedrooms,BldgGrade,TrafficNoise,LandVal,ImpsVal,NewConstruction,house_age
0,280000,Multiplex,300805.0,2,9373,2400,0,3.00,6,7,0,70000,229000,0,23.0
1,1000000,Single Family,1076162.0,1,20156,3764,1452,3.75,4,10,0,203000,590000,1,1.0
2,745000,Single Family,761805.0,1,26036,2060,900,1.75,4,8,0,183000,275000,0,60.0
3,425000,Single Family,442065.0,1,8618,3200,1640,3.75,5,7,0,104000,229000,0,42.0
4,240000,Single Family,297065.0,1,8620,1720,0,1.75,4,7,0,104000,205000,0,65.0

In [69]:
#Property type is my only categorical value, so need to numerical value
#import pandas as pd
#print(df['PropertyType'].dtype)  # should be 'object' or 'category'
#df['PropertyType'] = df['PropertyType'].astype(str)  # force to string if needed

#df = pd.get_dummies(df, columns=['PropertyType'], drop_first=True)

In [85]:

#df.drop(['PropertyType'], axis=1, inplace= True)
#df.head()
print(df.columns.tolist())
df.drop(['PropertyType_Single Family','PropertyType_Townhouse'], axis=1)
df.head()

AttributeError: 'Series' object has no attribute 'columns'

In [84]:
df.drop(['PropertyType_Single Family','PropertyType_Townhouse'])
df.head()

KeyError: "['PropertyType_Single Family', 'PropertyType_Townhouse'] not found in axis"